*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right,rgb(73, 72, 72),rgb(85, 110, 128));
    padding: 20px;
}
hr{
    margin: 5px;
}
.h1todo{
    text-align: center;
}
#inpHeader{
    width: 300px;
    padding: 3px;
    font-size: 18px;
    font-weight: 400;
    font-family:'Times New Roman';
}
header{
    padding: 15px;
    border-radius: 15px;
    margin: 5px;
    background-image: linear-gradient(to right,rgb(49, 43, 65),rgb(48, 49, 49));
}
main{
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
    background-image: linear-gradient(to right,rgb(49, 43, 65),rgb(48, 49, 49));
}
.containerTask{
    width: 500px;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 4px 5px rgb(84, 170, 192);
    background-color: rgb(171, 191, 207);
    cursor: grab;
}
.containerTask p{
    margin: 4px;
    font-size: 18px;
    font-weight: 400;
    font-family:'Times New Roman';
    border-bottom: 1px solid rgb(49, 49, 49);
}
button{
    margin: 3px;
    padding: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-image: linear-gradient(to right,rgb(133, 96, 236),rgb(81, 86, 90));
    border-radius: 5px;
    border: none;
}
.btHeader{
    font-weight: 700;
}
button:hover{
    background-image: linear-gradient(to left,rgb(133, 96, 236),rgb(81, 86, 90));
}